{% extends "content.html" %}

{% block main %}

<title>Блок «Проекты» на сайте Special</title>

<h1>Проекты</h1>

<div class="post-tags d-flex">
    <button onclick="TagUpdatesAquarium()" id="tag_updatesaquarium">
        аквариум
    </button>
    <button onclick="TagUpdatesSpecial()" id="tag_updatesspecial">
        special
    </button>
    <button onclick="TagUpdatesCreagoo()" id="tag_updatescreagoo">
        creagoo
    </button>
</div>

<hr>

{% include "posts/updates.html" %}

<div class="text-center mt-3" id="getcountposts"></div>

<script src="/js/post-tags.js"></script>
<script src="/js/getcountposts.js"></script>

{% endblock %}
