{% extends "content.html" %}

{% block main %}

<title>Проекты – Special</title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2">
        <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Проекты</li>
    </ol>
</nav>

<h1>Проекты</h1>

<div class="post-tags d-flex">
    <button searchid="update-aquarium" onclick="buttonTag('updates_aquarium')" id="updates_aquarium">аквариум</button>
    <button searchid="update-special" onclick="buttonTag('updates_special')" id="updates_special">special</button>
    <button searchid="update-creagoo" onclick="buttonTag('updates_creagoo')" id="updates_creagoo">creagoo</button>
</div>

<hr>

<div class="row row-cols-1 row-cols-lg-2 row-no-need-max-posts" id="row-updates"></div>
<div class="text-center mt-3" id="getcountposts"></div>

<script src="/js/post/tags/tags.js"></script>
<script src="/js/search/count-posts.js"></script>
<script src="/js/cdn/jquery.js"></script>

{% endblock %}
