{% extends "content.html" %}

{% block main %}

<title>Информация о Special</title>

<h1>Информация о Special</h1>

<hr>

<div class="post--block">
    <p>
        Special — это медиасообщество на тему программирования. На сайте Special выходят статьи про
        разработку, создание игр и программирование.
    </p>
</div>

<div class="post--block">
    <h2>
        Доступ к статьям
    </h2>

    <p>
        Читать статьи можно на сайте, в телеграм канале, в сообществе вконтакте, либо на Яндекс Дзене.<br>
        Скоро будет доступно мобильное приложение.
    </p>
</div>

<div class="post--block">
    <h2>
        Стать автором
    </h2>

    <p>
        Для публикации статьи на сайте Special, используйте следующую <a href="/about/post/" class="link">инструкцию</a>.
    </p>
</div>

<hr>

<div class="post--block">
    <h2>
        Содержимое статей
    </h2>

    <p>
        На сайте Special статьи проходят проверку модератором. Выбранная тема статьи не должна призывать к агрессии,
        принуждать к чему-либо, нарушать законодательство РФ, нарушать правила медиасообщества Special.
    </p>
</div>

<div class="post--block">
    <h2>
        Поддержка доступности для лиц с ОВЗ
    </h2>

    <p>
        Используйте сайт с помощью мыши, клавиатуры, программы Screen Reader. Сайт Special помогать
        людям получать содержимое страницы, независимо от физических возможностей.
    </p>

    <p>
        Элементы на странице используют разные теги. Изображения содержат alt атрибут. Списки создаются с помощью
        верных тегов.
    </p>
</div>

<hr>

<div class="post--block">
    <h2>
        Исходный код
    </h2>

    <p>
        Исходный код проекта Special <a href="https://github.com/DanyaBooba/special-2024" target="_blank" class="link">доступен</a> на платформе GitHub.
    </p>
</div>

<div class="post--block">
    <h2>
        Автор проекта
    </h2>

    <p>
        Привет, меня зовут Даниил Дыбка. И я автор Special.
    </p>
    <p>
        Моя почта: <a href="mailto:daniil@dybka.ru" class="link">daniil@dybka.ru</a>.
        Мой телеграм: <a href="//ddybka.t.me" class="link">@ddybka</a>. Мой вк: <a href="//vk.com/ddybka" class="link">@ddybka</a>.
    </p>
</div>

{% endblock %}
