{% extends "content.html" %}

{% block main %}

<title>Игры – Special</title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2">
        <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Игры</li>
    </ol>
</nav>

<h1>Игры</h1>

<hr>

<div class="row row-cols-1 row-cols-lg-2 row-no-need-max-posts" id="row-games"></div>

<div class="text-center mt-3" id="getcountposts"></div>

<script src="/js/search/count-posts.js"></script>

{% endblock %}
