.post a div.card-img-overlay {
    display: flex;
    background: linear-gradient(0deg, rgba(33, 33, 33,0.8) 6%, rgba(33, 33, 33,0.3) 71%, rgba(51,51,51,0) 100%);
}

.post a div.card-img-overlay div {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

@media(min-width: 768px) {
    .post a div.card-img-overlay div.post-1 h4 {
        font-size: 2.5rem;
    }
}

.post a div.card-img-overlay div.post-2 {
    margin-left: 6px !important;
}

.post a div.card-img-overlay div.post-mini {
    margin-left: 4px !important;
}

.post a div.card-img-overlay div.post-mini h4 {
    font-size: 1.25rem !important;
}

.post a div.card-img-overlay div p {
    font-family: Geologica-Light;
    color: var(--text-color-4);
    font-size: 14px;
    margin-bottom: 4px;
}

.post a div.card-img-overlay div h4 {
    color: #fff !important;
    line-height: 110%;
}

.card--link {
    transition: .3s;
}

.card--link:hover {
    box-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb), .15) !important;
}

.card--rounded
{
    border-radius: 8px;
}

.card-subtitle {
    font-family: Geologica-Light;
    color: var(--text-color-4);
    font-size: 14px;
    margin-bottom: 4px;
}

.card--title {
    font-family: HalvarBreit;
}

.card--title-mini {
    font-size: 1rem;
    margin-bottom: 0px !important;
    line-height: 100%;
}

.card--title-1-padding {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.card--title-1
{
    font-size: 2.5rem;
    margin-bottom: 10px !important;
}

.card--title-2-padding {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.card--title-2 {
    font-size: 1.5rem;
    margin-bottom: 5px !important;
    line-height: 100%;
}

@media(max-width: 991px) {
    .card--title-1 {
        font-size: 1.5rem;
        margin-bottom: 10px !important;
    }

    .card--title-2 {
        font-size: 1.5rem;
        margin-bottom: 5px !important;
    }
}

@media(max-width: 400px) {
    .card--title-1 {
        font-size: 1rem;
        margin-bottom: 2px !important;
    }

    .card--title-1-padding {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .card--title-2 {
        font-size: 1rem;
        margin-bottom: 2px !important;
    }
}
