.post .card img {
    transition: .15s;
}

.post .card {
    overflow: hidden;
}

.post a div.card-img-overlay {
    display: flex;
    background: rgba(0, 0, 0, .4);
    transition: .15s;
}

.post a div.card-img-overlay:hover {
    background-size: 110% !important;
    background: #ffffff00;
}

.post a div.card-img-overlay div {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.post:focus-within .card img {
    transform: scale(1.05);
    transition: .15s;
}

@media(hover: hover) {
    .post:hover .card img {
        transform: scale(1.05);
        transition: .15s;
    }

    .post:hover .card {
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .2);
    }
}

@media(hover: none) {
    .post:active .card img {
        transform: scale(1.05);
        transition: .15s;
    }

    .post:active .card {
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .2);
    }
}

@media(min-width: 768px) {
    .post a div.card-img-overlay div.post-1 h4 {
        font-size: 2.5rem;
    }
}

.post a div.card-img-overlay div.post-2 {
    margin-left: 6px !important;
}

.post a div.card-img-overlay div.post-mini {
    margin-left: 4px !important;
}

.post a div.card-img-overlay div.post-mini h4 {
    font-size: 1.25rem !important;
    text-shadow: 2px 2px 2px #454545;
    margin-bottom: 0;
}

.post a div.card-img-overlay div p {
    font-family: Geologica-Light;
    color: #fff;
    font-size: .875rem;
    margin-bottom: 4px;
    text-shadow: 2px 2px 2px #454545;
}

.post a div.card-img-overlay div h4 {
    color: #fff !important;
    line-height: 26px;
    text-shadow: 2px 2px 2px #454545;
}

.card--link {
    transition: .15s;
}

.card--link:hover {
    box-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb), .15) !important;
}

.card--rounded {
    border-radius: 12px;
}

.card-subtitle {
    font-family: Geologica-Light;
    color: var(--text-color-4);
    font-size: 14px;
    margin-bottom: 4px;
}

.card--title {
    font-family: Unbounded;
}

.card--title-mini {
    font-size: 1rem;
    margin-bottom: 0px !important;
    line-height: 100%;
}

.card--title-1-padding {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.card--title-1 {
    font-size: 2.5rem;
    margin-bottom: 10px !important;
}

.card--title-2-padding {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.card--title-2 {
    font-size: 1.5rem;
    margin-bottom: 5px !important;
    line-height: 100%;
}

@media(max-width: 991px) {
    .card--title-1 {
        font-size: 1.5rem;
        margin-bottom: 10px !important;
    }

    .card--title-2 {
        font-size: 1.5rem;
        margin-bottom: 5px !important;
    }
}

@media(max-width: 400px) {
    .card--title-1 {
        font-size: 1rem;
        margin-bottom: 2px !important;
    }

    .card--title-1-padding {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .card--title-2 {
        font-size: 1rem;
        margin-bottom: 2px !important;
    }
}
