.footer--main
{
    margin-top: 80px;
}

.footer--main .footer--text-copyright
{
    color: var(--text-color-2);
}

.footer--main ul,
.footer--main ol {
    list-style-type: none;
    padding: 0;
}

.footer--main .footer--text-li {
    margin-bottom: 10px;
}

.footer--main a.footer--text-link
{
    padding-left: 0px;
    color: var(--text-default);

    text-decoration: underline;
    text-decoration-color: var(--text-color-4);
    text-decoration-thickness: 1.25px;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 2px;

    transition: .3s text-decoration;
}

.footer--main a.footer--text-link:is(:hover, :focus) {
    text-decoration-color: var(--text-default);
}

.footer--main .footer--block-copyright
{
    margin-top: 60px;
}

.footer--main .footer--block-copyright p {
    margin-bottom: 5px;
    color: var(--text-color-2);
}

.footer--main .footer--block-copyright a {
    text-decoration: none;
    color: var(--text-color-2);
    transition: .3s;
}

.footer--main .footer--block-copyright a:hover {
    color: var(--text-default);
}
