.footer--main
{
    margin-top: 50px;
}

.footer--main .footer--text-copyright
{
    color: var(--text-color-2);
}

.footer--main .footer--text-link
{
    padding-left: 0px;
    color: var(--text-color-2);
    transition: .3s;
}

.footer--main .footer--text-link:hover,
.footer--main .footer--text-link:focus {
    color: var(--text-default);
}

.footer--main .footer--block-copyright
{
    margin-top: 60px;
}

.footer--main .footer--block-copyright p {
    margin-bottom: 5px;
    color: var(--text-color-2);
}

.footer--main .footer--block-copyright a {
    text-decoration: none;
    color: var(--text-color-2);
    transition: .3s;
}

.footer--main .footer--block-copyright a:hover {
    color: var(--text-default);
}
