.nav--main
{
    background-color: var(--nav-bg);

    margin-bottom: 30px;
}

.nav-link--h3-mb
{
    padding-bottom: 3px;
}

.nav-link-padding
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.header--nav-link {
    height: 43px;
}

.header--nav-link:hover {
    background: var(--bg-color);
}
