.nav--main
{
    background-color: var(--nav-bg);

    margin-bottom: 30px;
}

.nav-link--h3-mb
{
    padding-bottom: 3px;
}

/* .nav-link-padding
{
    padding-left: 1rem;
    padding-right: 1rem;
} */

.header--nav-link {
    padding: 1rem !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    color: var(--text-default) !important;
}

.header--nav-link:hover,
.header--nav-link:focus {
    background: var(--bg-color);
    color: var(--text-default) !important;
}

.header--nav-button-in {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.header--nav-button-in button {
    background: transparent !important;
}

.header--nav-button
{
    margin-bottom: 4.2px;
}

.nav--main .dropdown-menu .dropdown-item {
    font-family: Unbounded !important;
    color: var(--text-default) !important;
}

.nav--main .dropdown-menu .dropdown-item:hover {
    background: var(--dropdown-item-hover) !important;
}

.nav--main .dropdown-menu {
    border: 0 !important;
    border-radius: 12px;
    box-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb), .15) !important;

    background: var(--dropdown-bg) !important;
}
