/* Up 1 */

.post--main.uptext-1 {
    background: #000 !important;
}

/* Up 2 */

.post--main.uptext-2 {
    background: #000 !important;
}

/* Down 1 */

.post--main.downtext-1 {
    background: #000 !important;
}

/* Down 2 */

.post--main.downtext-2 {
    background: #000 !important;
}
