.post--main-buttons button
{
    background: var(--text-color-3);
    color: var(--text-default) !important;

    height: 30px;
    width: 100px;

    display: flex;
    align-items: center;

    justify-content: center;

    margin-right: 7px;
    margin-bottom: 7px;
}

.post--main-buttons button:focus {
    border: 2px solid #123;
}

.post--main-buttons button svg {
    margin-left: 3px;
}
