/* Up 1 */

.post--main.uptext-1 h1 { font-size: 55px; }

.post--main.uptext-1 h2 { font-size: 45px; }

.post--main.uptext-1 h3 { font-size: 40px; }

/* Up 2 */

.post--main.uptext-2 h1 { font-size: 60px; }

.post--main.uptext-2 h2 { font-size: 50px; }

.post--main.uptext-2 h3 { font-size: 45px; }

/* Down 1 */

.post--main.downtext-1 h1 { font-size: 45px; }

.post--main.downtext-1 h2 { font-size: 35px; }

.post--main.downtext-1 h3 { font-size: 30px; }

/* Down 2 */

.post--main.downtext-2 h1 { font-size: 40px; }

.post--main.downtext-2 h2 { font-size: 30px; }

.post--main.downtext-2 h3 { font-size: 25px; }
