.post-tags
{
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.post-tags button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    background: var(--text-color-7);
    padding: 6px 20px;
    border-radius: 50px !important;
    margin-right: 10px;
    margin-bottom: 10px;
}

.post-tags button:hover {
    background: var(--text-color-8);
}

.post-tags button:focus-visible {
    outline: 2px solid var(--text-color-2) !important;
}

.post-tags button.active {
    outline: 2px solid var(--text-link-2) !important;
    border-radius: 50px !important;
}

.post-tags button.active:focus-visible {
    outline: 2px solid var(--text-color-2) !important;
}
