/* .post--main
{
    max-width: 800px;
    padding-left: 100px;
} */

.post--main .post--main-more {
    font-size: 20px;
    color: var(--text-color-2);
    margin-bottom: 10px !important;
}

.post--main p {
    font-size: 25px;
    margin-bottom: 20px;
}

.post--main h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.post--main h2 {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.post--main h3 {
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.post--main img {
    margin-bottom: 50px;
    border-radius: 12px;

    max-width: 100%;
    height: auto;

    box-shadow: 0 .125rem .25rem rgba(var(--bs-body-color-rgb), .075) !important;
}

.post--main ul,
.post--main ol {
    font-size: 25px;
    margin-bottom: 20px;
}

.post--main ul li,
.post--main ol li {
    padding-left: 8px;
    padding-bottom: 5px;
}

.post--main ul li::marker,
.post--main ol li::marker {
    color: var(--text-color-4) !important;
}
