{% extends "content.html" %}

{% block main %}

<title>Музыка – Special</title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2">
        <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Музыка</li>
    </ol>
</nav>

<h1>Музыка</h1>

<hr>

<div class="row row-cols-1 row-cols-lg-3 row-no-need-max-posts" id="row-music"></div>

<div class="text-center mt-3" id="getcountposts"></div>

<script src="/js/post/tags/tags.js"></script>
<script src="/js/search/count-posts.js"></script>

{% endblock %}
