.offcanvas
{
    background: var(--bg-color);
    /* background: var(--bg-color-rgba-3); */
    /* backdrop-filter: blur(15px); */
}

.offcanvas .offcanvas-body .offcanvas--item {
    background: var(--text-color-7);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    border-radius: 12px;
    color: var(--text-default);
    text-decoration: none;
    margin-bottom: 10px;
}
