.offcanvas
{
    background: var(--bg-color);
}

.offcanvas .offcanvas-body .offcanvas--item {
    background: var(--text-color-7);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    border-radius: 12px;
    color: var(--text-default);
    text-decoration: none;
    margin-bottom: 10px;
}

.offcanvas .offcanvas-body .offcanvas--item span svg {
    width: 32px;
    height: 32px;
    fill: none !important;
    stroke: var(--text-default) !important;
    margin-right: 1.5rem;
}
