{% extends "content.html" %}

{% block main %}

<title>Разитие проекта Special</title>

<h1>Разитие проекта Special</h1>

<hr>

<div class="post--block">
    <p>
        11 декабря 2022 года появилась идея разработать отличный и удобный сервис для обмена
        текстовой информацией через статьи. Прежде всего хотелось решить задачу быстрой загрузки
        сайта и удобного добавления статьи.
    </p>
</div>

<div class="post--block">
    <h2>Первая версия</h2>
    <p>
        В итоге, я начал разрабатывать первую версию данного проекта. Идея названия пришла сразу же,
        исходя из того, что данный проект должен стать уникальным в своем роде.
    </p>
    <p>
        Первая версия проекта разрабатывалась на языке программирования PHP, с применением технологии
        хранения данных в базе данных MySQL. На тот момент я хотел разработать сервис, который получал
        бы доступ к информации в базе данных, и удобным образом выводил бы её в интерфейсе сайта.
    </p>
</div>

<div class="post--block">
    <img src="/img/development/ver1/img2.jpg" class="shadow-sm rounded-4 img-fluid" alt="Первая версия проекта Special">
</div>

<div class="post--block">
    <p>
        Чуть позже было решено видоизменить карточку поста, поэтому справа был добавлен вспомогательный
        блок. Но даже этот результат не улучшил ситуацию.
    </p>
</div>

<div class="post--block">
    <img src="/img/development/ver1/img1.jpg" class="shadow-sm rounded-4 img-fluid" alt="Первая версия проекта Special">
</div>

<div class="post--block">
    <h2>Вторая версия</h2>
    <p>
        Изначальный дизайн проекта был более строгим. Было решено исправить эту ситуацию, и добавить
        больше легкости в дизайн проекта. Именно поэтому был изменен логотип проекта, дизайн и кнопки.
    </p>
</div>

<div class="post--block">
    <img src="/img/development/ver2/img1.jpg" class="shadow-sm rounded-4 img-fluid" alt="Вторая версия проекта Special">
</div>

<div class="post--block">
    <p>
        И через некоторое время дизайн шапки и страницы поста стал выглядеть более уверенно.
    </p>
    <p>
        Был обновлен шрифт проекта, и общий стиль.
    </p>
</div>

<div class="post--block">
    <img src="/img/development/ver3/img1.jpg" class="shadow-sm rounded-4 img-fluid" alt="Вторая версия проекта Special">
</div>

<div class="post--block">
    <p>
        Страница поста казалась однообразной, поэтому было решено её улучшить.
    </p>
</div>

<div class="post--block">
    <img src="/img/development/ver4/img1.jpg" class="shadow-sm rounded-4 img-fluid" alt="Вторая версия проекта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver4/img2.jpg" class="shadow-sm rounded-4 img-fluid" alt="Вторая версия проекта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver4/img3.jpg" class="shadow-sm rounded-4 img-fluid" alt="Вторая версия проекта Special">
</div>

<div class="post--block">
    <h2>Тестирование нового дизайна</h2>
    <p>
        Вот уже как год дизайн сайта медиасообщества Special никак не менялся. Для того, чтобы убедиться в качестве
        дизайна, нужно протестировать другие варианты страницы медиасообщества Special. Именно поэтому было решено
        полностью обновить дизайн сайта, но пока что не выпускать данную версию дизайна сайта в продакшен,
        а тестировать её отдельно от основного дизайна.
    </p>
    <h3>Два удобных блока</h3>
    <p>
        Новая версия сайта была разделена на 2 больших блока: информационный и основной. Информационный блок сайта
        находился слева, был статичным, и помогал удобно ориентироваться по сайту. Данный блок содержал логотип, ссылки
        на темы и вспомогательные страницы сайта.
    </p>
    <p>
        В свою очередь, второй блок — основной, содержал информацию с текущей страницы сайта медиасообщества.
        Открывая статью на сайте, она удобно размещалась с левой стороны сайта, никак не мешая удобно ориентироваться
        по сайту. Все посты размещались вертикально и имели одинаковый размер. Данный вариант дизайна оказался очень
        интересным, поэтому было решено продолжить развитие данного дизайна.
    </p>
    <h3>Обновление шрифта</h3>
    <p>
        Специально для нового дизайна сайта медиасообщества Special было решено обновить логотип и весь остальной дизайн
        сайта, именно поэтому две версии дизайна могут сильно отличаться. Новый взгляд на дизайн сайта показал,
        как мог бы выглядеть сайт медиасообщества Special.
    </p>
</div>

<div class="post--block">
    <img src="/img/development/tested/img1.jpg" class="shadow-sm rounded-4 img-fluid" alt="Тестирование нового дизайна Special">
</div>

<div class="post--block">
    <img src="/img/development/tested/img2.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Тестирование нового дизайна Special">
</div>

<div class="post--block">
    <img src="/img/development/tested/img3.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Тестирование нового дизайна Special">
</div>

<div class="post--block">
    <img src="/img/development/tested/img4.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Тестирование нового дизайна Special">
</div>

<div class="post--block">
    <img src="/img/development/tested/img5.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Тестирование нового дизайна Special">
</div>

<div class="post--block">
    <img src="/img/development/tested/img6.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Тестирование нового дизайна Special">
</div>

<div class="post--block">
    <h3>Живая лента</h3>
    <p>
        Важное отличие данного дизайна от основного дизайна медиасообщества — наличие «живой» ленты.
        Новая разработка «живая» лента позволяла бесконечно прокручивать ленту, и читать
        новые статьи в живом формате.
    </p>
</div>

<div class="post--block">
    <h2>Актуальный дизайн второй версии</h2>
    <p>
        В итоге, было решено, пока что, не менять дизайн медиасообщества Special, и оставить
        старый вариант дизайна.
    </p>
</div>

<div class="post--block">
    <img src="/img/development/ver5/img1.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Окончательный дизайн второй версии сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver5/img2.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Окончательный дизайн второй версии сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver5/img3.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Окончательный дизайн второй версии сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver5/img4.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Окончательный дизайн второй версии сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver5/img5.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Окончательный дизайн второй версии сайта Special">
</div>

<div class="post--block">
    <h2>Обновление дизайна</h2>
    <p>
        После большого количества проб и ошибок, было решено довести дизайн сайта медиасообщества Special
        до идеала, поэтому было проведено третье масштабное обновление дизайна для сайта Special.
    </p>
    <p>
        Данный дизайн сайта является актуальным.
    </p>
</div>

<div class="post--block">
    <img src="/img/development/ver6/img1.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Актуальный дизайн сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver6/img2.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Актуальный дизайн сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver6/img3.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Актуальный дизайн сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver6/img4.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Актуальный дизайн сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver6/img5.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Актуальный дизайн сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver6/img6.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Актуальный дизайн сайта Special">
</div>

<div class="post--block">
    <img src="/img/development/ver6/img7.jpg" class="shadow-sm rounded-4 img-fluid"
        alt="Актуальный дизайн сайта Special">
</div>

{% endblock %}
