{% extends "content.html" %}

{% block main %}

<h1>Пользователю</h1>

<hr>

<div class="post--block">
    <ul>
        <li>
            <a href="policy.html" class="link">
                Политика конфиденциальности
            </a>
        </li>
        <li>
            <a href="cookie.html" class="link">
                Политика обработки cookie
            </a>
        </li>
        <li>
            <a href="termsofuse.html" class="link">
                Условия использования
            </a>
        </li>
    </ul>
</div>

{% endblock %}
