{% extends "content.html" %}

{% block main %}

<h1>Подборка</h1>

<hr>

<div class="post--block">
        <h2>2023</h2>
        <ul>
                <li><a href="/how-to-sell-on-buy-markets/" class="link">Как успешно продавать на Б/У рынках</a></li>
                <li><a href="/communication-with-clients-on-the-internet/" class="link">Общение с клиентами в
                                интернете</a></li>
                <li><a href="/used-market-what-is-it-with-what-it-is-eaten/" class="link">Б/У рынок: что это, с чем
                                его едят?</a></li>
                <li><a href="/the-path-of-a-programmer-is-a-difficult-path/" class="link">Путь программиста — это
                                трудный путь?</a></li>
                <li><a href="/project-development-history-live-creagoo-ru-its-forced-closure/" class="link">История
                                live.creagoo.ru — вынужденное закрытие</a></li>
                <li><a href="/how-did-i-start-learning-programming/" class="link">С чего я начал изучать
                                программирование</a></li>
                <li><a href="/how-i-fight-against-burnout/" class="link">Как я борюсь против выгорания</a></li>
                <li><a href="/how-i-develop-websites-in-php/" class="link">Как я разрабатываю сайты на PHP</a></li>
                <li><a href="/pet-project-development-what-is-it-and-for-what/" class="link">Разработка pet-проектов —
                                что это и для чего?</a></li>
                <li><a href="/great-news-channel-special/" class="link">Обновление медиа канала Special</a></li>
                <li><a href="/change-creagoo-ru-simplify-improve-and-share/" class="link">Упрощение, улучшение и
                                «Поделиться»</a></li>
                <li><a href="/novyy-sayt-creagoo-ru/" class="link">Новый сайт creagoo.ru</a></li>
                <li><a href="/babkaonthehuntclassic/" class="link">Babka On The Hunt</a></li>
                <li><a href="/sweetness/" class="link">Sweetness</a></li>
                <li><a href="/rememberthesecards/" class="link">Запомни эти карты</a></li>
                <li><a href="/rockpaperscissors/" class="link">Камень ножницы бумага</a></li>
                <li><a href="/macbook-2017-review/" class="link">Обзор на макбук 2017 года</a></li>
                <li><a href="/difference-in-macbooks-for-3-years/" class="link">Разница в макбуках за 3 года</a></li>
                <li><a href="/ipad-mini-4-is-an-ambiguous-device/" class="link">iPad mini 4 — неоднозначный девайс</a>
                </li>
                <li><a href="/the-new-generation-of-the-iphone-xr-device/" class="link">Новое поколение устройства —
                                iPhone
                                XR</a></li>
                <li><a href="/macbook-pro-2014-13-review/" class="link">Macbook Pro 2014 13' — обзор</a></li>
                <li><a href="/experience-using-iphone-6s-for-six-months/" class="link">Опыт использования iPhone 6s в
                                течение полугода</a></li>
        </ul>
</div>

<div class="post--block">
        <h2>2022</h2>
        <ul >
                <li><a href="/more/archive/creagoo-is-now-available-in-vk/" class="link">Creagoo теперь доступен в
                                ВК</a></li>
                <li><a href="/more/archive/how-i-started-learning-laravel/" class="link">Как я начал изучать Laravel</a>
                </li>
                <li><a href="/more/archive/watch-us-on-macos-linux/" class="link">Смотрите нас на macOS, Linux!</a></li>
                <li><a href="/more/archive/school-has-started-updates-have-begun/" class="link">Школа началась, начались
                                обновления</a>
                </li>
                <li><a href="/more/archive/games-on-huawei/" class="link">Игры на Huawei</a></li>
                <li><a href="/more/archive/how-i-upgraded-my-macbook-to-an-unsupported-macos/" class="link">Как я
                                обновлял макбук на
                                неподдерживаемую macOS</a></li>
                <li><a href="/more/archive/creagoo-blog-new-visual/" class="link">Creagoo Блог: новый визуал</a></li>
                <li><a href="/more/archive/my-joy-iphone-6s/" class="link">Моя радость — iPhone 6s</a></li>
                <li><a href="/more/archive/to-the-start-attention-march/" class="link">На старт, внимание, марш!</a>
                </li>
                <li><a href="/more/archive/how-does-game-testing-work/" class="link">Как происходит тестирование игр</a>
                </li>
                <li><a href="/more/archive/my-personal-corner/" class="link">Мой личный уголок</a></li>
                <li><a href="/more/archive/game-about-cards-is-being-developed/" class="link">Ведется разработка игры
                                про карты</a></li>
                <li><a href="/more/archive/uploading-the-laravel-project-to-the-server/" class="link">Выгрузка проекта
                                Laravel на
                                сервер</a></li>
                <li><a href="/more/archive/the-next-creagoo-project-live.creagoo.ru/" class="link">Следущий проект
                                Creagoo —
                                live.creagoo.ru</a></li>
                <li><a href="/more/archive/this-is-my-macbook/" class="link">Это мой макбук</a></li>
        </ul>
</div>

<div class="post--block">
        <h2>2021</h2>
        <ul >
                <li><a href="/more/archive/belated-result/" class="link">Запоздалый результат</a></li>
                <li><a href="/more/archive/cloud-storage-development/" class="link">Разработка облачного хранилища</a>
                </li>
                <li><a href="/more/archive/i-didnt-expect-this-babka-on-the-hunt-light/" class="link">Такого я не
                                ожидал... Babka On The
                                Hunt Light</a></li>
                <li><a href="/more/archive/the-development-of-the-babka-on-the-hunt-light-is-suspended/"
                                class="link">Приостанавливается
                                разработка Babka On The Hunt Light</a></li>
                <li><a href="/more/archive/skins-effects-and-more-babka-on-the-hunt-light/" class="link">Скины, эффекты
                                и другое — Babka
                                On The Hunt Light</a></li>
        </ul>
</div>

<div class="post--block">
        <h2>2020</h2>
        <ul >
                <li><a href="/more/archive/babka-on-the-hunt-light-development-is-progressing-successfully/"
                                class="link">Babka On The
                                Hunt Light — разработка продвигается успешно</a></li>
                <li><a href="/more/archive/babka-on-the-hunt-update-lolzas-and-achievements/" class="link">Обновление
                                Babka On The Hunt:
                                лолзы и достижения</a></li>
                <li><a href="/more/archive/coming-soon-update-babka-on-the-hunt/" class="link">В скором времени:
                                обновление Babka On The
                                Hunt</a></li>
                <li><a href="/more/archive/babka-on-the-hunt-a-new-form-of-updates/" class="link">Babka On The Hunt:
                                новая форма
                                обновлений</a></li>
                <li><a href="/more/archive/sweetness-new-menu/" class="link">Sweetness — новое меню</a></li>
                <li><a href="/more/archive/i-guess-im-just-unlucky/" class="link">Наверное, мне просто не везёт</a></li>
                <li><a href="/more/archive/update-babka-on-the-hunt/" class="link">Обновление Babka On The Hunt</a></li>
                <li><a href="/more/archive/refusal-from-mega-nz/" class="link">Отказ от mega.nz</a></li>
                <li><a href="/more/archive/platform-support/" class="link">Поддержка платформ</a></li>
                <li><a href="/more/archive/creagoo-on-your-domain-name/" class="link">Creagoo на своем доменном
                                имене</a></li>
                <li><a href="/more/archive/results-of-the-first-academic-month/" class="link">Итоги первого учебного
                                месяца</a></li>
                <li><a href="/more/archive/subdomains/" class="link">Поддомены</a></li>
        </ul>
</div>

{% endblock %}
