a.link {
    color: var(--text-default);
    margin: 0;
    padding: 0;

    text-decoration: underline!important;
    text-decoration-color: var(--text-color-4)!important;
    text-decoration-thickness: 1.25px!important;
    text-underline-offset: 0.2em!important;
    text-decoration-thickness: 2px!important;

    transition: .3s;
}

a.link:is(:hover, :focus) {
    color: var(--text-default) !important;
    text-decoration-color: var(--text-default) !important;
}
