<div class="row row-cols-1 row-cols-lg-2 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/russian-cards-2/" class="card card--link card--rounded border-0">
            <img src="/russian-cards-2/cap.jpg" class="card-img" alt="Шапка игры Русские Карты 2">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Игры
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Русские Карты 2
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/babka-on-the-hunt/" class="card card--link card--rounded border-0">
            <img src="/babka-on-the-hunt/cap.jpg" class="card-img" alt="Шапка игры Бабушка На Охоте">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Игры
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Babka On The Hunt
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/sweetness/" class="card card--link card--rounded border-0">
            <img src="/sweetness/cap.jpg" class="card-img" alt="Шапка игры Sweetness">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Игры
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Sweetness
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/remember-these-cards/" class="card card--link card--rounded border-0">
            <img src="/remember-these-cards/cap.jpg" class="card-img" alt="Шапка игры Запомни эти карты">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Игры
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Запомни эти карты
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/rock-paper-scissors/" class="card card--link card--rounded border-0">
            <img src="/rock-paper-scissors/cap.jpg" class="card-img" alt="Шапка игры Камень ножницы бумага">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Игры
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Камень ножницы бумага
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
