
<div class="row row-cols-1 row-cols-lg-3">
    <div class="col post" id="neural-networks">
        <a href="/neural-networks-dont-be-afraid/" class="card card--link card--rounded border-0">
            <img src="/neural-networks-dont-be-afraid/cap@min.jpg" class="card-img" alt="Нейросети: не стоит бояться">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Нейросети: не стоит бояться
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="neural-networks">
        <a href="/neural-network-for-the-project/" class="card card--link card--rounded border-0">
            <img src="/neural-network-for-the-project/cap@min.jpg" class="card-img" alt="Нейросеть для проекта">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Нейросеть для проекта
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="neural-networks">
        <a href="/neural-networks-and-sales" class="card card--link card--rounded border-0">
            <img src="/neural-networks-and-sales/cap@min.jpg" class="card-img" alt="Нейросети и продажи">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Нейросети и продажи
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/who-chooses-apple/" class="card card--link card--rounded border-0">
            <img src="/who-chooses-apple/cap@min.jpg" class="card-img" alt="Кто выбирает Apple">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Кто выбирает Apple
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/babka-on-the-hunt-light-lifeless-project/" class="card card--link card--rounded border-0">
            <img src="/babka-on-the-hunt-light-lifeless-project/cap@min.jpg" class="card-img"
                alt="Babka On The Hunt Light — неживой проект">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Babka On The Hunt Light — неживой проект
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/why-am-i-tired-of-developing-games" class="card card--link card--rounded border-0">
            <img src="/why-am-i-tired-of-developing-games/cap@min.jpg" class="card-img"
                alt="Почему я устал разрабатывать игры">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Почему я устал разрабатывать игры
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="php">
        <a href="/php-is-alive/" class="card card--link card--rounded border-0">
            <img src="/php-is-alive/cap@min.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        PHP ЖИВ?
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="market">
        <a href="/how-to-sell-on-buy-markets" class="card card--link card--rounded border-0">
            <img src="/how-to-sell-on-buy-markets/cap@min.jpg" class="card-img" alt="Портмоне на фоне ноутбука">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Как успешно продавать на
                        Б/У рынках
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="market">
        <a href="/communication-with-clients-on-the-internet" class="card card--link card--rounded border-0">
            <img src="/communication-with-clients-on-the-internet/cap@min.jpg" class="card-img" alt="Открытая почта">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Общение с клиентами в
                        интернете
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="market">
        <a href="/used-market-what-is-it-with-what-it-is-eaten" class="card card--link card--rounded border-0">
            <img src="/used-market-what-is-it-with-what-it-is-eaten/cap@min.jpg" class="card-img" alt="Купюры в руке">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Б/У рынок: что это, с чем
                        его едят?
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="progs">
        <a href="/the-path-of-a-programmer-is-a-difficult-path/" class="card card--link card--rounded border-0">
            <img src="/the-path-of-a-programmer-is-a-difficult-path/cap@min.jpg" class="card-img" alt="Ноутбук на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Путь программиста — это
                        трудный путь?
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/project-development-history-live-creagoo-ru-its-forced-closure"
            class="card card--link card--rounded border-0">
            <img src="/project-development-history-live-creagoo-ru-its-forced-closure/cap@min.jpg" class="card-img"
                alt="Фотография логотипа Creagoo">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        История live.creagoo.ru
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="progs">
        <a href="/how-did-i-start-learning-programming" class="card card--link card--rounded border-0">
            <img src="/how-did-i-start-learning-programming/cap@min.jpg" class="card-img" alt="Открытый исходный код">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        С чего я начал изучать
                        программирование
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/how-i-fight-against-burnout" class="card card--link card--rounded border-0">
            <img src="/how-i-fight-against-burnout/cap@min.jpg" class="card-img" alt="Девушка выгорела на фото">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Как я борюсь против
                        выгорания
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="php">
        <a href="/how-i-develop-websites-in-php" class="card card--link card--rounded border-0">
            <img src="/how-i-develop-websites-in-php/cap@min.jpg" class="card-img" alt="Открытый исходный код">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Как я разрабатываю сайты
                        на PHP
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="progs">
        <a href="/pet-project-development-what-is-it-and-for-what" class="card card--link card--rounded border-0">
            <img src="/pet-project-development-what-is-it-and-for-what/cap@min.jpg" class="card-img"
                alt="Открытый исходный код">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Разработка pet-проектов
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
