<div class="row row-cols-1 row-cols-lg-2 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/russian-cards-2/" class="card card--link card--rounded border-0">
            <img src="/russian-cards-2/cap.jpg" class="card-img" alt="Шапка игры Русские Карты 2">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        PHP ЖИВ?
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/sweetness/" class="card card--link card--rounded border-0">
            <img src="/sweetness/cap.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Sweetness
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- ! -->

<div class="col pb-3 mb-sm-0">
    <a href="/php-is-alive/" class="card card--link card--rounded border-0">
        <img src="/php-is-alive/cap.jpg" class="card-img" alt="Логотип PHP">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">PHP ЖИВ?</p>
        </div>
    </a>
</div>
<div class="col pb-3 mb-sm-0">
    <a href="/how-to-sell-on-buy-markets" class="card card--link card--rounded border-0">
        <img src="/how-to-sell-on-buy-markets/cap.jpg" class="card-img" alt="Портмоне на фоне ноутбука">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">Как успешно продавать на
                Б/У рынках</p>
        </div>
    </a>
</div>
<div class="col pb-3 mb-sm-0">
    <a href="/communication-with-clients-on-the-internet"
        class="card card--link card--rounded border-0">
        <img src="/communication-with-clients-on-the-internet/cap.jpg" class="card-img" alt="Открытая почта">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">Общение с клиентами в
                интернете</p>
        </div>
    </a>
</div>
<div class="col pb-3 mb-sm-0">
    <a href="/used-market-what-is-it-with-what-it-is-eaten"
        class="card card--link card--rounded border-0">
        <img src="/used-market-what-is-it-with-what-it-is-eaten/cap.jpg" class="card-img" alt="Несколько купюр денег в руке">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">Б/У рынок: что это, с чем
                его едят?</p>
        </div>
    </a>
</div>
<div class="col pb-3 mb-sm-0">
    <a href="/the-path-of-a-programmer-is-a-difficult-path"
        class="card card--link card--rounded border-0">
        <img src="/img/postsmin/p001.jpg" class="card-img" alt="Ноутбук с открытой крышкой">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">Путь программиста — это
                трудный путь?</p>
        </div>
    </a>
</div>
<div class="col pb-3 mb-sm-0">
    <a href="/project-development-history-live-creagoo-ru-its-forced-closure"
        class="card card--link card--rounded border-0">
        <img src="/img/postsmin/p003.jpg" class="card-img" alt="Фотография логотипа Creagoo">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">История live.creagoo.ru
            </p>
        </div>
    </a>
</div>
<div class="col pb-3 mb-sm-0">
    <a href="/how-did-i-start-learning-programming" class="card card--link card--rounded border-0">
        <img src="/img/postsmin/p004.jpg" loading="lazy" class="card-img"
            alt="Фотография с кодом программиста">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">С чего я начал изучать
                программирование</p>
        </div>
    </a>
</div>
<div class="col pb-3 mb-sm-0">
    <a href="/how-i-fight-against-burnout" class="card card--link card--rounded border-0">
        <img src="/img/postsmin/p005.jpg" loading="lazy" class="card-img"
            alt="Девушка выгорела на фотографии">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">Как я борюсь против
                выгорания</p>
        </div>
    </a>
</div>
<div class="col pb-3 mb-sm-0">
    <a href="/how-i-develop-websites-in-php" class="card card--link card--rounded border-0">
        <img src="/img/postsmin/p006.jpg" loading="lazy" class="card-img" alt="Открытый код программы">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">Как я разрабатываю сайты
                на PHP</p>
        </div>
    </a>
</div>
<div class="col pb-3 mb-sm-0">
    <a href="/pet-project-development-what-is-it-and-for-what"
        class="card card--link card--rounded border-0">
        <img src="/img/postsmin/p010.jpg" loading="lazy" class="card-img" alt="Открытый код программы">
        <div class="card-img-overlay card--bg-gradient d-flex">
            <p class="card-title text-white mt-auto card--title card--title-2">Разработка pet-проектов —
                что это и для чего?</p>
        </div>
    </a>
</div>
