<div class="row row-cols-1 row-cols-lg-2 gx-3">
    <div class="col post">
        <a href="/pirates-on-the-macbook/" class="card card--link card--rounded border-0">
            <img src="/pirates-on-the-macbook/cap@min.jpg" class="card-img" alt="Пиратки на макбуке">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Пиратки на макбуке
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/why-did-i-decide-to-upgrade-to-the-ipad-mini-5/" class="card card--link card--rounded border-0">
            <img src="/why-did-i-decide-to-upgrade-to-the-ipad-mini-5/cap@min.jpg" class="card-img" alt="Почему я решил перейти на iPad mini 5">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Почему я решил перейти на iPad mini 5
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/programming-on-ipad-mini-5/" class="card card--link card--rounded border-0">
            <img src="/programming-on-ipad-mini-5/cap@min.jpg" class="card-img" alt="Программирование на Айпаде">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Программирование на Айпаде
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/copy-or-original-which-to-choose/" class="card card--link card--rounded border-0">
            <img src="/copy-or-original-which-to-choose/cap@min.jpg" class="card-img" alt="Копия или оригинал — что выбрать">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Копия или оригинал — что выбрать
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/macbook-m1/" class="card card--link card--rounded border-0">
            <img src="/macbook-m1/cap@min.jpg" class="card-img" alt="Макбук на процессоре М1">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Макбук М1
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/ipad-mini-5/" class="card card--link card--rounded border-0">
            <img src="/ipad-mini-5/cap@min.jpg" class="card-img" alt="iPad mini 5">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        iPad mini 5
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/macbook-2017-review/" class="card card--link card--rounded border-0">
            <img src="/macbook-2017-review/cap@min.jpg" class="card-img" alt="Макбук 2017 года на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Обзор на макбук 2017 года
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap@min.jpg" class="card-img" alt="AirPods Pro на черном фоне">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        AirPods Pro — стоит купить?
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/the-new-generation-of-the-iphone-xr-device/" class="card card--link card--rounded border-0">
            <img src="/the-new-generation-of-the-iphone-xr-device/cap@min.jpg" class="card-img" alt="iPhone Xr на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        iPhone Xr
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/ipad-mini-4-is-an-ambiguous-device/" class="card card--link card--rounded border-0">
            <img src="/ipad-mini-4-is-an-ambiguous-device/cap@min.jpg" class="card-img" alt="iPad mini 4 на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        iPad mini 4
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/macbook-pro-2014-13-review/" class="card card--link card--rounded border-0">
            <img src="/macbook-pro-2014-13-review/cap@min.jpg" class="card-img" alt="Макбук 2014 года на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        MacBook Pro 2014
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/which-macbooks-are-really-worth-getting/" class="card card--link card--rounded border-0">
            <img src="/which-macbooks-are-really-worth-getting/cap@min.jpg" class="card-img" alt="Два макбука на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Какие макбуки действительно стоит брать?
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/experience-using-iphone-6s-for-six-months/" class="card card--link card--rounded border-0">
            <img src="/experience-using-iphone-6s-for-six-months/cap@min.jpg" class="card-img"
                alt="iPhone 6S на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Опыт использования iPhone 6S
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col post">
        <a href="/difference-in-macbooks-for-3-years/" class="card card--link card--rounded border-0">
            <img src="/difference-in-macbooks-for-3-years/cap@min.jpg" class="card-img"
                alt="Два макбука на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Разница в макбуках за 3 года
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
