<div class="row row-cols-1 row-cols-lg-2 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/macbook-2017-review/" class="card card--link card--rounded border-0">
            <img src="/macbook-2017-review/cap.jpg" class="card-img" alt="Шапка игры Русские Карты 2">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Макбук 2017 — очень доволен!
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        AirPods Pro — стоит купить?
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/the-new-generation-of-the-iphone-xr-device/" class="card card--link card--rounded border-0">
            <img src="/the-new-generation-of-the-iphone-xr-device/cap.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        iPhone Xr
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/ipad-mini-4-is-an-ambiguous-device/" class="card card--link card--rounded border-0">
            <img src="/ipad-mini-4-is-an-ambiguous-device/cap.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        iPad mini 4
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/macbook-pro-2014-13-review/" class="card card--link card--rounded border-0">
            <img src="/macbook-pro-2014-13-review/cap.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        MacBook Pro 2014
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/difference-in-macbooks-for-3-years/" class="card card--link card--rounded border-0">
            <img src="/difference-in-macbooks-for-3-years/cap.jpg" class="card-img" alt="Наушники AirPods Pro">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Сравнение 2-х макбуков
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/experience-using-iphone-6s-for-six-months/" class="card card--link card--rounded border-0">
            <img src="/experience-using-iphone-6s-for-six-months/cap.jpg" class="card-img"
                alt="Макбук 2017 года с открытой крышкой">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Опыт использования iPhone 6S
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
