<div class="row row-cols-1 row-cols-lg-2 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/macbook-2017-review/" class="card card--link card--rounded border-0">
            <img src="/macbook-2017-review/cap@min.jpg" class="card-img" alt="Макбук 2017 года на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Макбук 2017 — очень доволен!
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap@min.jpg" class="card-img" alt="AirPods Pro на черном фоне">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        AirPods Pro — стоит купить?
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/the-new-generation-of-the-iphone-xr-device/" class="card card--link card--rounded border-0">
            <img src="/the-new-generation-of-the-iphone-xr-device/cap@min.jpg" class="card-img" alt="iPhone Xr на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        iPhone Xr
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/ipad-mini-4-is-an-ambiguous-device/" class="card card--link card--rounded border-0">
            <img src="/ipad-mini-4-is-an-ambiguous-device/cap@min.jpg" class="card-img" alt="iPad mini 4 на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        iPad mini 4
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/macbook-pro-2014-13-review/" class="card card--link card--rounded border-0">
            <img src="/macbook-pro-2014-13-review/cap@min.jpg" class="card-img" alt="Макбук 2014 года на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        MacBook Pro 2014
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/which-macbooks-are-really-worth-getting/" class="card card--link card--rounded border-0">
            <img src="/which-macbooks-are-really-worth-getting/cap@min.jpg" class="card-img" alt="Два макбука на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Какие макбуки действительно стоит брать?
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/experience-using-iphone-6s-for-six-months/" class="card card--link card--rounded border-0">
            <img src="/experience-using-iphone-6s-for-six-months/cap@min.jpg" class="card-img"
                alt="iPhone 6S на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Опыт использования iPhone 6S
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col pb-3 mb-sm-0">
        <a href="/difference-in-macbooks-for-3-years/" class="card card--link card--rounded border-0">
            <img src="/difference-in-macbooks-for-3-years/cap@min.jpg" class="card-img"
                alt="Два макбука на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Разница в макбуках за 3 года
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
