
<div class="row row-cols-1 row-cols-lg-2 ">
    <div class="col post" id="update-aquarium">
        <a href="/aquarium/" class="card card--link card--rounded border-0">
            <img src="/aquarium/cap.jpg" class="card-img" alt="Аквариум">
            <div class="d-flex card-img-overlay card--bg-gradient">
                <div class="d-flex mt-auto flex-column card--title-1-padding">
                    <p class="card-subtitle">
                        Проекты
                    </p>
                    <p class="card-title text-white card--title card--title-1">
                        Аквариум
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="update-aquarium">
        <a href="/plans-for-the-development-of-the-aquarium" class="card card--link card--rounded border-0">
            <img src="/plans-for-the-development-of-the-aquarium/cap@min.jpg" class="card-img" alt="Купюры в руке">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Проекты
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        План развития Аквариума
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="update-aquarium">
        <a href="/attempts-to-create-an-aquarium/" class="card card--link card--rounded border-0">
            <img src="/attempts-to-create-an-aquarium/cap@min.jpg" class="card-img" alt="Ноутбук на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Проекты
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Попытки создать Аквариум
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="update-special">
        <a href="/new-design-and-cleanliness/" class="card card--link card--rounded border-0">
            <img src="/new-design-and-cleanliness/cap.jpg" class="card-img" alt="Alt text">
            <div class="d-flex card-img-overlay card--bg-gradient">
                <div class="d-flex mt-auto flex-column card--title-1-padding">
                    <p class="card-subtitle">
                        Проекты
                    </p>
                    <p class="card-title text-white card--title card--title-1">
                        Новый дизайн и чистота
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="update-special">
        <a href="/news-archive-share-design-update/" class="card card--link card--rounded border-0">
            <img src="/news-archive-share-design-update/cap@min.jpg" class="card-img"
                alt="Архив новостей. Поделиться. Обновление дизайна">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Проекты
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Архив новостей. «Поделиться». Обновление дизайна
                    </p>
                </div>
                </p>
            </div>
        </a>
    </div>
    <div class="col post" id="update-special">
        <a href="/great-news-channel-special/" class="card card--link card--rounded border-0">
            <img src="/great-news-channel-special/cap@min.jpg" class="card-img"
                alt="Улучшение дизайна. Многоязычность. Доступность">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Проекты
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Улучшение дизайна. Многоязычность. Доступность
                    </p>
                </div>
                </p>
            </div>
        </a>
    </div>
    <div class="col post" id="update-creagoo">
        <a href="/change-creagoo-ru-simplify-improve-and-share/" class="card card--link card--rounded border-0">
            <img src="/change-creagoo-ru-simplify-improve-and-share/cap@min.jpg" class="card-img"
                alt="Упрощение, улучшение и Поделиться">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Проекты
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Упрощение, улучшение и «Поделиться»
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col post" id="update-creagoo">
        <a href="/novyy-sayt-creagoo-ru/" class="card card--link card--rounded border-0">
            <img src="/novyy-sayt-creagoo-ru/cap@min.jpg" class="card-img" alt="Новый сайт Creagoo">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Проекты
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Новый сайт creagoo.ru
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
