{% extends "content.html" %}

{% block main %}

<title>Медиасообщество Special</title>

<div class="row row-cols-1 row-cols-lg-1">
    <div class="col post">
        <a href="/aquarium/" class="card">
            <img src="/aquarium/cap.jpg" class="card-img" alt="Аквариум">
            <div class="card-img-overlay">
                <div class="post-1">
                    <p>Проекты</p>
                    <h4>Аквариум</h4>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-3">
    <div class="col post">
        <a href="/macbook-m1" class="card">
            <img src="/macbook-m1/cap@min.jpg" class="card-img" alt="Макбук на процессоре М1">
            <div class="card-img-overlay">
                <div class="post-2">
                    <p>Техника</p>
                    <h4>Макбук М1</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/plans-for-the-development-of-the-aquarium" class="card">
            <img src="/plans-for-the-development-of-the-aquarium/cap@min.jpg" class="card-img" alt="Купюры в руке">
            <div class="card-img-overlay">
                <div class="post-2">
                    <p>Проекты</p>
                    <h4>План развития Аквариума</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col post">
        <a href="/attempts-to-create-an-aquarium/" class="card">
            <img src="/attempts-to-create-an-aquarium/cap@min.jpg" class="card-img" alt="Ноутбук на столе">
            <div class="card-img-overlay">
                <div class="post-2">
                    <p>Проекты</p>
                    <h4>Попытки создать Аквариум</h4>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="see-at-pc" style="margin-bottom: 100px;"></div>

<div class="row row-cols-1 row-cols-lg-3" id="row-sundry"></div>

<div class="see-at-pc" style="margin-bottom: 100px;"></div>

<div class="row row-cols-1 row-cols-lg-2" id="row-tech"></div>

<div class="see-at-pc" style="margin-bottom: 100px;"></div>

<div class="row row-cols-1 row-cols-lg-2" id="row-games"></div>

<div class="see-at-pc" style="margin-bottom: 100px;"></div>

<div class="row row-cols-1 row-cols-lg-2" id="row-updates"></div>

<div class="see-at-pc" style="margin-bottom: 100px;"></div>

<div class="row row-cols-1 row-cols-lg-2" id="row-music"></div>

{% endblock %}
