{% extends "layouts/content.html" %}

{% block main %}

<div class="row row-cols-1 row-cols-lg-1 gx-2 g-lg-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Alt text">
            <div class="d-flex card-img-overlay card--bg-gradient">
                <div class="d-flex mt-auto flex-column card--title-1-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-1">
                        AirPods Pro — стоит потратиться?
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-2 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Шапка игры Русские Карты 2">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Игры
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Русские Карты 2
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">PHP ЖИВ?</p>
            </div>
        </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">PHP ЖИВ?</p>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Наушники AirPods Pro">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">AirPods Pro — стоит потратиться?
                </p>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Макбук 2017 года с открытой крышкой">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">Обзор на макбук 2017 года</p>
            </div>
        </a>
    </div>
</div>

<div class="see-at-pc mb-5"></div>

<div class="row row-cols-1 row-cols-lg-2 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Шапка игры Русские Карты 2">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">Русские Карты 2</p>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">PHP ЖИВ?</p>
            </div>
        </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Логотип PHP">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">PHP ЖИВ?</p>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img" alt="Наушники AirPods Pro">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">AirPods Pro — стоит потратиться?
                </p>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/airpods-pro-is-it-worth-the-money/" class="card card--link card--rounded border-0">
            <img src="/airpods-pro-is-it-worth-the-money/cap.jpg" class="card-img"
                alt="Макбук 2017 года с открытой крышкой">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <p class="card-title text-white mt-auto card--title card--title-2">Обзор на макбук 2017 года</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}
