{% extends "content.html" %}

{% block main %}

<title>Медиасообщество Special</title>

<p>
    neural-networks-and-sales
</p>

<p>
    neural-network-for-the-project
</p>

<p>
    pirates-on-the-macbook
</p>

<p>
    neural-networks-dont-be-afraid
</p>

<p>
    who-chooses-apple
</p>

<div class="row row-cols-1 row-cols-lg-1 gx-2 g-lg-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/aquarium/" class="card card--link card--rounded border-0">
            <img src="/aquarium/cap.jpg" class="card-img" alt="Аквариум">
            <div class="d-flex card-img-overlay card--bg-gradient">
                <div class="d-flex mt-auto flex-column card--title-1-padding">
                    <p class="card-subtitle">
                        Новости
                    </p>
                    <p class="card-title text-white card--title card--title-1">
                        Аквариум
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 gx-3">
    <div class="col pb-3 mb-sm-0">
        <a href="/macbook-m1" class="card card--link card--rounded border-0">
            <img src="/macbook-m1/cap@min.jpg" class="card-img" alt="Макбук на процессоре М1">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Техника
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Макбук М1
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/plans-for-the-development-of-the-aquarium" class="card card--link card--rounded border-0">
            <img src="/plans-for-the-development-of-the-aquarium/cap@min.jpg" class="card-img" alt="Купюры в руке">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Обновления
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        План развития Аквариума
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col pb-3 mb-sm-0">
        <a href="/attempts-to-create-an-aquarium/" class="card card--link card--rounded border-0">
            <img src="/attempts-to-create-an-aquarium/cap@min.jpg" class="card-img"
                alt="Ноутбук на столе">
            <div class="card-img-overlay card--bg-gradient d-flex">
                <div class="d-flex mt-auto flex-column card--title-2-padding">
                    <p class="card-subtitle">
                        Разное
                    </p>
                    <p class="card-title text-white card--title card--title-2">
                        Попытки создать Аквариум
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="see-at-pc" style="margin-bottom: 100px;"></div>

{% include "posts/sundry.html" %}

<div class="see-at-pc" style="margin-bottom: 100px;"></div>

{% include "posts/tech.html" %}

<div class="see-at-pc" style="margin-bottom: 100px;"></div>

{% include "posts/games.html" %}

<div class="see-at-pc" style="margin-bottom: 100px;"></div>

{% include "posts/updates.html" %}

{% endblock %}
