{% extends "content.html" %}

{% block main %}

<title>Разное – Special</title>

<h1>Разное</h1>

<div class="post-tags d-flex">
    <button onclick="TagSundryNeuralNetworks()" id="tag_sundryneuralnetworks">
        нейросети
    </button>
    <button onclick="TagSundryMarket()" id="tag_sundrymarket">
        б/у рынок
    </button>
    <button onclick="TagSundryPhp()" id="tag_sundryphp">
        php
    </button>
    <button onclick="TagSundryProgs()" id="tag_sundryprogs">
        программирование
    </button>
</div>

<hr>

<div class="row row-cols-1 row-cols-lg-3" id="row-sundry"></div>

<div class="text-center mt-3" id="getcountposts"></div>

<script src="/js/post/tags/tags.js"></script>
<script src="/js/search/count-posts.js"></script>

{% endblock %}
