{% extends "base.html" %}

{% block header %}

{% include "content/header.html" %}

{% include "content/nav.html" %}

{% include "content/mobilemenu.html" %}

{% endblock %}

{% block footer %}

{% include "content/footer.html" %}

<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/navactive.js"></script>

<script src="/js/jquery.js"></script>
<script src="/js/addcontentpost.js"></script>
<script>
    AddContentPostUpdates();
    AddContentPostGames();
    AddContentPostSundry();
    AddContentPostTech();
</script>

{% endblock %}
