{% extends "base.html" %}

{% block header %}

{% include "content/header.html" %}

{% include "content/nav.html" %}

{% include "content/mobilemenu.html" %}

{% endblock %}

{% block footer %}

{% include "content/footer.html" %}

<script src="/js/cdn/bootstrap.js"></script>

<script src="/js/nav/active.js"></script>

<script src="/js/cdn/jquery.js"></script>
<script src="/js/post/content/add-content.js"></script>
<script>
    AddContentPostUpdates();
    AddContentPostGames();
    AddContentPostSundry();
    AddContentPostTech();
    AddContentPostMusic();
</script>

{% endblock %}
