{% extends "content.html" %}

{% block main %}
<div class="row">
    <div class="col-md-1">
        <div class="d-flex post--share">
            <div class="d-flex justify-content-center post--share-item">
                <button onClick="ShareTG()" class="button-null">
                    <img src="/img/apps_logo/tg__logo.jpg" class="rounded-circle" width="36" alt="Логотип Телеграм">
                </button>
            </div>
            <div class="d-flex justify-content-center post--share-item">
                <button onClick="ShareVK()" class="button-null">
                    <img src="/img/apps_logo/vk__logo.jpg" class="rounded-3" width="36" alt="Логотип Вконтакте">
                </button>
            </div>
            <div class="d-flex justify-content-center post--share-item">
                <button onClick="ShareOK()" class="button-null">
                    <img src="/img/apps_logo/ok__logo.jpg" class="rounded-3" width="36" alt="Логотип Одноклассников">
                </button>
            </div>
            <div class="d-flex justify-content-center post--share-item">
                <button onClick="ShareLink()" class="button-null">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-link">
                        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
                        <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="post--main" class="post--main">
            <div class="d-flex flex-wrap align-items-center post--main-buttons">
                <button id="textsizeup" onClick="textPlus()" class="btn post--main-buttons-btn">
                    A
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                    </svg>
                </button>
                <button id="textsizediff" onClick="textMinus()" class="btn post--main-buttons-btn">
                    A
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
                <button id="textsizetodefault" onClick="textDefault()" class="btn post--main-buttons-btn d-none">
                    A
                </button>
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="col-md-3">
        <div id="post--right" class="post--right">
            {% block rightpost %}{% endblock %}
        </div>
    </div>
</div>

<div class="about-up about-up-dontsee" id="about-up">
    <a href="#" aria-label="Перейти наверх">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up">
            <path d="m18 15-6-6-6 6" />
        </svg>
    </a>
</div>

<script src="/js/cdn/jquery.js"></script>
<script src="/js/post/head/head.js"></script>
<script src="/js/post/right-bar/margin.js"></script>
<script src="/js/post/get-up/get-up.js"></script>
<script src="/js/post/share/share.js"></script>
<script src="/js/post/right-bar/post.js"></script>
<script src="/js/post/change-size/change-size.js"></script>

{% endblock %}
