{% extends "content.html" %}

{% block main %}

<title>Техника – Special</title>

<h1>Техника</h1>

<div class="post-tags d-flex">
    <button onclick="TagTechMacbook()" id="tag_techmacbook">
        макбук
    </button>
    <button onclick="TagTechIphone()" id="tag_techiphone">
        айфон
    </button>
    <button onclick="TagTechIpad()" id="tag_techipad">
        айпад
    </button>
    <button onclick="TagTechAirpods()" id="tag_techairpods">
        эирподс
    </button>
</div>

<hr>

<div class="row row-cols-1 row-cols-lg-2" id="row-tech"></div>

<div class="text-center mt-3" id="getcountposts"></div>

<script src="/js/post/tags/tags.js"></script>
<script src="/js/search/count-posts.js"></script>

{% endblock %}
