{% extends "content.html" %}

{% block main %}

<title>Техника – Special</title>

<h1>Техника</h1>

<div class="post-tags d-flex">
    <button searchid="have-macbook" onclick="buttonTag('tech_macbook')" id="tech_macbook">macbook</button>
    <button searchid="have-iphone" onclick="buttonTag('tech_iphone')"id="tech_iphone">iphone</button>
    <button searchid="have-ipad" onclick="buttonTag('tech_ipad')" id="tech_ipad">ipad</button>
    <button searchid="have-airpods" onclick="buttonTag('tech_airpods')" id="tech_airpods">airpods</button>
</div>

<hr>

<div class="row row-cols-1 row-cols-lg-2" id="row-tech"></div>

<div class="text-center mt-3" id="getcountposts"></div>

<script src="/js/post/tags/tags.js"></script>
<script src="/js/search/count-posts.js"></script>

{% endblock %}
