{% extends "content.html" %}

{% block main %}

<title>Блок «Техника» на сайте Special</title>

<h1>Техника</h1>

<div class="post-tags d-flex">
    <button onclick="TagTechMacbook()" id="tag_techmacbook">
        макбук
    </button>
    <button onclick="Tag()">
        айфон
    </button>
    <button onclick="Tag()">
        айпад
    </button>
    <button onclick="Tag()">
        эирподс
    </button>
</div>

<hr>

{% include "posts/tech.html" %}

<script src="/js/post-tags.js"></script>

{% endblock %}
