.post--main {
    word-break: break-word !important;
}

.post--main .post--main-more-archive {
    color: var(--text-color-2);
    font-size: .875rem;
}

.post--main h2 {
    margin-top: 2rem;
}

.post--main h3 {
    margin-top: 2rem;
}

.post--main h4 {
    margin-top: 1.75rem;
}

.post--main p,
.post--main p+ul,
.post--main p+ol {
    line-height: 32px;
    margin-bottom: 1rem !important;
}

.post--main p:not(:has(+ p)) {
    margin-bottom: 3rem;
}

.post--main img {
    border-radius: 12px;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
}

.post--main img:first-of-type {
    box-shadow: 0 .125rem .25rem rgba(var(--bs-body-color-rgb), .075) !important;
}

.post--main ul li,
.post--main ol li {
    padding-left: 8px;
    padding-bottom: 5px;
}

.post--main ul li::marker,
.post--main ol li::marker {
    color: var(--text-color-4) !important;
}

.post--main a {
    color: var(--text-link-1);

    text-decoration: underline;
    text-decoration-color: var(--text-link-underline-1) !important;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 1.25px;

    transition: .15s;
}

.post--main a:is(:hover, :focus) {
    text-decoration-color: var(--text-link-underline-2) !important;
}

.post--main .hash svg {
    width: 28px;
    height: 28px;

    fill: none !important;
    stroke: transparent;
    transition: .15s;
}

.post--main h2:hover .hash svg,
.post--main h3:hover .hash svg,
.post--main h4:hover .hash svg,
.post--main h5:hover .hash svg,
.post--main h6:hover .hash svg {
    stroke: var(--text-link-underline-1);
}

.post--main .hash svg:hover,
.post--main a.hash:focus svg {
    stroke: var(--text-link-1) !important;
}

.about-up {
    position: fixed;
    bottom: 50px;
    right: 90px;
    border: .1rem solid var(--text-color-3);
    border-radius: 50%;
    background: var(--bg-color-rgba-3);
    backdrop-filter: blur(8px);
    width: 45px;
    height: 45px;
}

.about-up a {
    transition: .15s;
}

.about-up a svg {
    width: 45px !important;
    height: 45px !important;
    padding: .25rem;
    padding-bottom: .6rem;
    padding-right: .4rem;
    fill: none !important;
    stroke: var(--text-color-4);
    transition: .15s;
}

.about-up a:hover svg {
    stroke: var(--text-default);
}

.about-up-dontsee {
    opacity: 0;
    transition: .15s opacity;
}

.about-up-see {
    opacity: 1;
    transition: .15s opacity;
}

@media(min-width: 991.98px) {
    .post--main {
        margin-bottom: 50px;
    }
}

@media(max-width: 991px) {
    .about-up {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }

    .post--main {
        margin-bottom: 2rem;
    }
}
