.post--main-buttons button
{
    background: var(--text-color-3);
    color: var(--text-default) !important;
    border: none !important;

    height: 30px;
    width: 100px;

    display: flex;
    align-items: center;

    justify-content: center;

    margin-right: 7px;
    margin-bottom: 7px;
}

.post--main-buttons button:focus-visible {
    background: var(--text-color-4) !important;
    border: 2px solid var(--text-color-2);
}

.post--main-buttons button svg {
    fill: none !important;
    stroke: var(--text-default) !important;
    margin-left: 3px;
}

.post--main-buttons button:disabled {
    background: var(--bg-color) !important;
    border: 2px dashed var(--text-color-2) !important;
}

.post--main-buttons button:not(:disabled):hover {
    background-color: var(--text-color-4) !important;
}

@media(hover: hover) {
    .post--main-buttons button:hover {
        background-color: var(--text-color-4) !important;
    }
}

@media(hover: none) {
    .post--main-buttons button:active {
        background-color: var(--text-color-4) !important;
    }
}
