.post--main
{
    word-break: break-word !important;
    margin-bottom: 50px;
}

.post--main .post--main-more {
    margin-top: 2rem;
    color: var(--text-color-2);
}

.post--main .post--main-more-archive {
    color: var(--text-color-2);
}

.post--main h1 {
    padding: 1.5rem 0;
    line-height: 95%;
}

.post--main img {
    margin-bottom: 30px;
    border-radius: 12px;

    max-width: 100%;
    height: auto;

    box-shadow: 0 .125rem .25rem rgba(var(--bs-body-color-rgb), .075) !important;
}

.post--main ul li,
.post--main ol li {
    padding-left: 8px;
    padding-bottom: 5px;
}

.post--main ul li::marker,
.post--main ol li::marker {
    color: var(--text-color-4) !important;
}

.post--main a {
    color: var(--text-link-1);

    text-decoration: underline;
    text-decoration-color: var(--text-link-underline-1) !important;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 2px;

    transition: .3s;
}

.post--main a:is(:hover, :focus) {
    text-decoration-color: var(--text-link-underline-2);
}

.post--main .hash svg {
    width: 28px;
    height: 28px;

    fill: none !important;
    stroke: transparent;
    transition: .3s;
}

.post--main h2:hover .hash svg,
.post--main h3:hover .hash svg,
.post--main h4:hover .hash svg,
.post--main h5:hover .hash svg,
.post--main h6:hover .hash svg {
    stroke: var(--text-link-underline-1);
}

.post--main .hash svg:hover,
.post--main a.hash:focus svg {
    stroke: var(--text-link-1) !important;
}

.about-up {
    position: fixed;
    bottom: 50px;
    right: 90px;
    border: .1rem solid var(--text-color-3);
    border-radius: 50%;
    background: var(--bg-color-rgba-3);
    width: 45px;
    height: 45px;
}

.about-up a {
    transition: .3s;
}

.about-up a svg {
    width: 45px !important;
    height: 45px !important;
    padding: .25rem;
    padding-bottom: .6rem;
    padding-right: .4rem;
    fill: none !important;
    stroke: var(--text-color-4);
    transition: .3s;
}

.about-up a:hover svg {
    stroke: var(--text-default);
}

.about-up-dontsee {
    opacity: 0;
    transition: .3s opacity;
}

.about-up-see {
    opacity: 1;
    transition: .3s opacity;
}

@media(max-width: 991px) {
    .about-up {
        position: fixed;
        bottom: 40px;
        right: 30px;
    }

    .about-up a {
        border: .1rem solid var(--text-color-3);
        padding: 9px 10px 14px 11px;
        border-radius: 50%;
        background: var(--bg-color-rgba-3);
    }

    .about-up a svg {
        width: 24px;
        height: 24px;
        fill: var(--text-default);
        transition: .3s;
    }
}
