.row {
    --bs-gutter-x: .7rem !important;
}

.post {
    padding-bottom: .7rem;
}

.post a {
    border: none;
    border-radius: 12px;
    transition: .1s;
}

.post--font-size {
    font-size: 1.25rem !important;
}

.post--start-p {
    color: var(--text-muted);
}

.post--start {
    margin-bottom: 30px;
}

.post--start-img {
    margin-bottom: 30px;
}

.post--start-img img {
    margin-bottom: 5px;
    border-radius: 1rem !important;
}

.main--post {
    margin-top: 0px;
    padding-top: 0px;
    /* padding-top: 15px; */
}

.post--more {
    padding-top: 50px;
    font-size: 16px;
}

.post--more-text {
    color: var(--text-muted);
}

/* .post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    margin-top: 30px;
    margin-bottom: 10px;
} */
